.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: #757575;
}
.customers ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.customers a {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17.71px 32px 14.25px;
}
.customers li:not(:last-child) {
  margin-right: 30px;
}
.customers__icon {
  fill: #afb1b8;
  border-color: #757575;
}
